    <!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'Path Finder'}) %>
    <link rel="stylesheet" href="/styles/bucket.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="bucketList">
            <h2>Here's your bucket list!</h2>
            <section class="addBucket">
                <a href="/bucketlist/new"><button class="add" type="submit"> Add A Destination</button></a>
                <a href="/bucketlist/completed"><button class="add" type="submit">Completed Destinations</button></a>
            </section>
        <section class="bucket-list">
            <ul class="bucket-grid">
                <% for (let Bucket of buckets) { %>
                <li>
                    <figure>
                        <a href="/bucketlist/<%= Bucket.id %>" ><img src="<%= Bucket.photo %>"></a>
                    </figure>
                    <figcaption>
                        <div class="bucket-info">
                            <h3><%= Bucket.place %></h3>
                            <section class="buttons">
        
                            </section>
                        </div>
                    </figcaption>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
