    <!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'Path Finder'}) %>
    <link rel="stylesheet" href="/styles/bucket.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="bucketList">
            <h2>Here's your bucket list!</h2>
            <section class="addBucket">
                <a href="/bucketlist/new"><button class="add" type="submit"> Add A Destination</button></a>
            </section>
        <section class="bucket-list">
            <ul class="bucket-grid">
                <% for (let Bucket of buckets) { %>
                <li>
                    <figure>
                      <img src="<%= Bucket.photo %>"></a>
                    </figure>
                    <figcaption>
                        <div class="bucket-info">
                            <h3><%= Bucket.place %></h3>
                            <!-- <p><%= Bucket.date %></p> -->
                            <p><%= Bucket.reason%></p>
                            <section class="buttons">
                            <!--DELETE-->
                            <form method="POST" action="/bucketlist/<%= Bucket._id %>?_method=DELETE">
                                <input class="btn" type="submit" value="Delete"/>
                            </form>
                            <!--EDIT-->
                             <a href='/bucketList/<%=Bucket.id%>/edit'><button class='edit' type = 'submit'>Edit</button></a>
                            </section>
                        </div>
                    </figcaption>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
