<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'Path Finder'}) %>
    <link rel="stylesheet" href="/styles/bucketIndex.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <h1 class="bucketHead">One Bucketlist At A Time!</h1>
        <section class="explore">
                <% for (let buckets of Bucket) { %>
               <figure>
                    <figcaption><%= buckets.place %></figcaption>
                        <img src="<%= buckets.photo %>">
                    </figure>
                <% } %>
            
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
