<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'Path Finder'}) %>
    <link rel="stylesheet" href="/styles/bucketIndex.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="explore">
            <ul class="destination-grid">
                <% for (let buckets of Bucket) { %>
                <li>
                    <figure>
                        <img src="<%= buckets.photo %>">
                        <figcaption>
                            <h4 class="place"><%= buckets.place %></h4>
                            <h4 class="date"><%= buckets.date %></h4>
                            <h4 class="reason"><%= buckets.reason %></h4>
                            <h4 class="completed"><%= buckets.completed %></h4>

                        </figcaption>
                    </figure>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
