<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'Path Finder'}) %>
    <link rel="stylesheet" href="/styles/destinationShow.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <h1 class="destination-details"><%= Destination.destination %></h1>
        <h3 class="date"> <%= Destination.date %></h3>
        <p class="average">Here are some average cost for this destination</p>
        <section class="topTwo">
            <!-- LEARNED HOW TO MAKE FLIP CARDS THROUGH W3SCHOOLS-->
            <!--HOTELS--> 
            <div class="hotelsDiv">
             <div class="hotelsContent">
             <div class="hotelsFront">
             <p class="hotels">Hotels Cost</p>
             </div>
             <div class="hotelsBack">
            <p>$<%= Destination.hotels %></p>
            </div>
            </div>
            </div>
            <!--FLIGHTS-->
            <div class="flightsDiv">
            <div class="flightsContent">
            <div class="flightsFront">
            <p><span>Flights Cost</span></p>
            </div>
            <div class="flightsBack">
            <p>$<%=Destination.flights%></p>
            </div>
            </div>
            </div>
        </section>
        <section class="bottomTwo">
                <!--ACTIVITIES-->
            <div class="activitiesDiv">
            <div class="activitiesContent">
            <div class="activitiesFront">
            <p>Activities Cost</p>
            </div>
            <div class="activitiesBack">
            <p><br> $<%= Destination.activities %></p>
            </div>
            </div>
            </div>
            <!--MISCELLANEOUS-->
            <div class="miscDiv">
             <div class="miscContent">
            <div class="miscFront">
            <p>Miscellaneous Cost</p>
            </div>
            <div class="miscBack">
            <p><br>$ <%= Destination.misc %></p>
            </div>
            </div>
            </div>
        </section>
        
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
