<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'Path Finder'}) %>
    <link rel="stylesheet" href="/styles/destinationIndex.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <div class="destinationTitle">
        <h1 class="popularTitle">Popular Destinations</h1>
        <p class="estimate">As of 2022</p> 
    </div>
    <section class="explore">
        <% for (let destinations of Destination) { %>
           <figure>
                <figcaption><%= destinations.destination %></figcaption>
                    <img src="<%= destinations.photo %>">
                </figure>
            <% } %>
        
    </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
