	<%# THIS WILL SERVE AS MY HOMEPAGE AND INDEX PAGE AT THE SAME TIME %>
    <!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'Path Finder'}) %>
    <link rel="stylesheet" href="/styles/home.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Noto+Serif+SC:wght@500&display=swap');
      </style>
  </head>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="vacations">
            <h2>Your Next Vacations</h2>
        </section>
        <section class="featured-destinations">
            <ul class="destination-grid">
                <% for (let Destination of destination) { %>
                <li>
                    <figure>
                        <a href="/pathfinderRoutes/<%= Destination.id %>" ><img src="<%= Destination.photo %>"></a>
                    </figure>
                    <figcaption>
                        <div class="featured-info">
                            <h3><%= Destination.destination %></h3>
                            <p><%= Destination.date %></p>
                        </div>
                    </figcaption>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
